.d-flex{
  display: flex;
}

.d-none{
  display: none;
}

.f-warp{
  flex-wrap: wrap;
}

.d-column{
  flex-direction: column;
}

.ja-sb{
  justify-content: space-between;
  align-items: center;
}

.jc-aic{
  justify-content: center;
  align-items: center;
}
