@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

$font-sm: 14px;
$font-s: 20px;
$font-m: 24px;
$font-ml: 32px;
$font-l: 36px;
$font-lx: 42px;
$font-xl: 48px;
$font-xxl: 64px;

$text-dark: #000000;
$text-light: #FFFFFF;
$text-muted: #707070;
$text-danger: #650300;
$text-danger-50: #AA0601;