<footer class="footer">
  <div class="container">
    <ul class="subnav d-flex ja-sb">
      <li class="mobile-contact">
        <div class="contact d-flex">
          <span class="material-symbols-outlined">
            call
            </span>
            <a href="tel:0800-000-000">0800-000-000</a>
        </div>
        <div class="contact d-flex border">
          <span class="material-symbols-outlined">
            mail
            </span>
            <a href="mailto:glasses@business.com">glasses@business.com</a>
        </div>
      </li>
      <li>
        <ul class="menu d-flex">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
      </li>
      <li>
        <ul class="d-flex">
          <li class="community">
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="fb">
            </a>
          </li>
          <li class="community">
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="ig">
            </a>
          </li>
          <li class="community">
            <a href="#">
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line">
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contact pc-contact d-flex">
      <span class="material-symbols-outlined">
        call
        </span>
      <a href="tel:0800-000-000">0800-000-000</a>
    </div>
    <div class="contact pc-contact d-flex border">
      <span class="material-symbols-outlined">
        mail
        </span>
        <a href="mailto:glasses@business.com">glasses@business.com</a>
    </div>
    <div class="footer-text d-flex ja-sb">
      <div class="date">
        <span>Copyright © 2020 Glasses.All rights reserved.</span>
      </div>
      <div class="copyright">
        <ul class="d-flex">
          <li>隱私權政策</li>
          <li>服務條款</li>
        </ul>
      </div>
    </div>
  </div>
</footer>