<header class="header">
  <ul class="block block-ipad d-flex jc-aic d-none">
    <li>
      <a href="products.html">
        OPTICAL
      </a>
    </li>
    <li>
      <a href="sunglasses.html">
        SUNGLASSES
      </a>
    </li>
    <li>
      <a href="#">
        FUNCTIONAL
      </a>
    </li>
  </ul>
  <div class="container">
    <ul class="block block-pc d-flex jc-aic">
      <li>
        <a href="products.html">
          OPTICAL
        </a>
      </li>
      <li>
        <a href="sunglasses.html">
          SUNGLASSES
        </a>
      </li>
      <li>
        <a href="#">
          FUNCTIONAL
        </a>
      </li>
    </ul>
  </div>
</header>