<nav class="nav">
  <div class="container">
    <div class="row">
      <div class="column d-flex ja-sb">
        <a href="index.html"><div class="logo"></div></a>
        <div>
        <ul class="menu pc-menu d-flex jc-aic">
          <li>
            <a href="products.html">系列鏡框</a>
          </li>
          <li>
            <a href="#">門市據點</a>
          </li>
          <li>
            <a href="#">部落格</a>
          </li>
          <li>
            <a href="#">常見問題</a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="menu mobile-menu">
    <ul class="menu d-flex f-warp">
      <li>
        <a href="products.html">系列鏡框</a>
      </li>
      <li>
        <a href="#">門市據點</a>
      </li>
      <li>
        <a href="#">部落格</a>
      </li>
      <li>
        <a href="#">常見問題</a>
      </li>
    </ul>
  </div>
</nav>