<div class="warp">
  <section>
    <div class="d-flex">
      <div class="bc-img">
        <picture>
          <source srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true" media="(min-width: 960px)">
          <source srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true" media="(min-width: 10px)">
          <img src="" alt="bc-image">
        </picture>
      </div>
      <div class="bc-img">
        <picture>
          <source srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true" media="(min-width: 960px)">
          <source srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true" media="(min-width: 10px)">
          <img src="" alt="bc-image">
        </picture>
      </div>
    </div>
  </section>
  <main class="sunglasses">
    <div class="container">
      <h3 class="pt-8">Celluloid Combi</h3>
      <h4>賽璐珞鈦金屬混合鏡框</h4>
      <div class="row">
        <div class="sunglasses-box d-flex f-warp">
          <ul class="sunglasses-body">
            <li>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="product-img">
              <ul class="d-flex ja-sb">
                <li>
                  <p>BJ41600S</p>
                </li>
                <li>
                  <span>NTD3,490</span>
                </li>
              </ul>
              <div class="d-flex">
                <div class="brown-color"></div>
                <div class="orange-color"></div>
              </div>
            </li>
          </ul>
          <ul class="sunglasses-body">
            <li>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="product-img">
              <ul class="d-flex ja-sb">
                <li>
                  <p>BJ41600S</p>
                </li>
                <li>
                  <span>NTD3,490</span>
                </li>
              </ul>
              <div class="d-flex">
                <div class="brown-color"></div>
                <div class="orange-color"></div>
              </div>
            </li>
          </ul>
          <ul class="sunglasses-body">
            <li>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="product-img">
              <ul class="d-flex ja-sb">
                <li>
                  <p>BJ41600S</p>
                </li>
                <li>
                  <span>NTD3,490</span>
                </li>
              </ul>
              <div class="d-flex">
                <div class="brown-color"></div>
                <div class="orange-color"></div>
              </div>
            </li>
          </ul>
          <ul class="sunglasses-body">
            <li>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="product-img">
              <ul class="d-flex ja-sb">
                <li>
                  <p>BJ41600S</p>
                </li>
                <li>
                  <span>NTD3,490</span>
                </li>
              </ul>
              <div class="d-flex">
                <div class="brown-color"></div>
                <div class="orange-color"></div>
              </div>
            </li>
          </ul>
          <ul class="sunglasses-body">
            <li>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="product-img">
              <ul class="d-flex ja-sb">
                <li>
                  <p>BJ41600S</p>
                </li>
                <li>
                  <span>NTD3,490</span>
                </li>
              </ul>
              <div class="d-flex">
                <div class="brown-color"></div>
                <div class="orange-color"></div>
              </div>
            </li>
          </ul>
          <ul class="sunglasses-body">
            <li>
              <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="product-img">
              <ul class="d-flex ja-sb">
                <li>
                  <p>BJ41600S</p>
                </li>
                <li>
                  <span>NTD3,490</span>
                </li>
              </ul>
              <div class="d-flex">
                <div class="brown-color"></div>
                <div class="orange-color"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>