@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pt-8 {
  padding-top: 80px;
}

.pb-8 {
  padding-bottom: 80px;
}

.pb-2 {
  padding-bottom: 24px;
}

.py-12 {
  padding: 0 12px;
}

.py80-48 {
  padding: 80px 0 48px;
}

@media (max-width: 375px) {
  .py40-24 {
    padding: 40px 0 24px;
  }
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.f-warp {
  flex-wrap: wrap;
}

.d-column {
  flex-direction: column;
}

.ja-sb {
  justify-content: space-between;
  align-items: center;
}

.jc-aic {
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #650300;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 36;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.nav {
  background-color: #AA0601;
}
.nav .logo {
  width: 80px;
  height: 48px;
  margin: 12px 0;
  background: url("https://github.com/kawa3310/2024-3week-website/blob/main/img/logo-new1.png?raw=true") no-repeat center/cover;
}
@media (max-width: 375px) {
  .nav .logo {
    margin: 16px 0;
  }
}
.nav .menu li {
  font-size: 20px;
  padding-left: 64px;
}

@media (max-width: 375px) {
  .pc-menu {
    display: none;
  }
}

.mobile-menu {
  display: none;
}
@media (max-width: 375px) {
  .mobile-menu {
    display: flex;
    flex-direction: column;
  }
}
.mobile-menu li {
  width: 50%;
  border: 1px solid #FFFFFF;
  padding: 12px 0;
}

.header a {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}
@media (max-width: 768px) {
  .header a {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .header a {
    font-size: 16px;
  }
}
.header .block {
  text-align: center;
  border: 1px solid #DCDCDC;
}
.header .block li {
  width: 33.3333%;
  padding: 24px 0;
  border: 1px solid #DCDCDC;
  border-bottom: 8px solid transparent;
}
@media (max-width: 768px) {
  .header .block li {
    padding: 16px 0;
  }
}
.header li:hover {
  border-bottom: 8px solid #AA0601;
}

@media (max-width: 768px) {
  .block-pc {
    display: none;
  }
}

@media (max-width: 768px) {
  .block-ipad {
    display: block;
    display: flex;
  }
}

.pages a {
  color: #555555;
}
.pages li {
  padding: 12px 16px;
  border: 1px solid #555555;
}
@media (max-width: 375px) {
  .pages li {
    padding: 12px 15px;
  }
}
.pages li:hover {
  background-color: #000000;
}
.pages li:hover a {
  color: #FFFFFF;
}
.pages .next, .pages .back {
  padding: 12px 11px;
}

.next {
  background-color: #F2F2F2;
}

.footer {
  padding-bottom: 32px;
  background-color: #AA0601;
  color: #FFFFFF;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.subnav {
  margin-bottom: 36px;
}
@media (max-width: 768px) {
  .subnav {
    margin-bottom: 32px;
  }
}
@media (max-width: 375px) {
  .subnav {
    align-items: start;
  }
}
@media (max-width: 375px) {
  .subnav .menu {
    display: none;
  }
}
.subnav .menu li {
  padding-right: 48px;
}

.community {
  padding-left: 32px;
}
@media (max-width: 768px) {
  .community {
    padding-left: 16px;
  }
}
@media (max-width: 375px) {
  .community {
    padding-left: 8px;
  }
}
.community img {
  width: 48px;
}
@media (max-width: 375px) {
  .community img {
    width: 24px;
  }
}

.contact {
  font-size: 36px;
  align-items: center;
}
@media (max-width: 375px) {
  .contact {
    font-size: 16px;
  }
}
.contact span {
  font-size: 36px;
  padding-right: 22px;
}
@media (max-width: 375px) {
  .contact span {
    font-size: 20px;
    padding-right: 11px;
  }
}

@media (max-width: 375px) {
  .pc-contact {
    display: none;
  }
}

.mobile-contact {
  display: none;
}
@media (max-width: 375px) {
  .mobile-contact {
    display: block;
  }
}

.border {
  margin: 32px 0;
}

.footer-text {
  margin: 32px 0;
}
@media (max-width: 375px) {
  .footer-text {
    display: block;
    margin-bottom: 0;
  }
}
@media (max-width: 375px) {
  .footer-text .copyright ul {
    display: block;
  }
}
.footer-text .copyright ul li {
  font-size: 14px;
  padding-left: 48px;
}
@media (max-width: 375px) {
  .footer-text .copyright ul li {
    padding: 8px 0 0 0;
  }
}

h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 375px) {
  h3 {
    font-size: 24px;
  }
}

.bc-img .main-img {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true") no-repeat center center/cover;
}
@media (max-width: 768px) {
  .bc-img .main-img {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true") no-repeat center center/cover;
  }
}

.title {
  padding: 296px 0;
}
@media (max-width: 375px) {
  .title {
    padding: 144px 0;
  }
}
.title .title-group {
  text-align: right;
}
.title .title-group p {
  font-size: 36px;
}
@media (max-width: 375px) {
  .title .title-group p {
    font-size: 16px;
  }
}
.title .title-group h2 {
  font-size: 64px;
  font-weight: bold;
  padding-top: 4px;
}
@media (max-width: 375px) {
  .title .title-group h2 {
    font-size: 24px;
    padding-top: 8px;
  }
}
.title .title-group .btn {
  padding-top: 4px;
}
@media (max-width: 375px) {
  .title .title-group .btn {
    padding-top: 8px;
  }
}
.title .title-group .btn a {
  background-color: #AA0601;
  padding: 6px 12px;
  font-size: 20px;
}

.main {
  background-color: #FBF2F2;
}
@media (max-width: 375px) {
  .main h3 {
    padding-top: 40px;
  }
}
.main .row {
  margin: 0 -12px;
  padding: 24px 0 80px 0;
}
@media (max-width: 375px) {
  .main .row {
    padding-bottom: 40px;
  }
}
.main .row .col-3 {
  width: 25%;
}
@media (max-width: 768px) {
  .main .row .col-3 {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .main .row .col-3 {
    width: 100%;
  }
}

.card-title {
  justify-content: center;
  align-items: center;
  color: #000000;
}
@media (max-width: 375px) {
  .card-title {
    padding-bottom: 24px;
  }
}
.card-title img {
  width: 84px;
}
.card-title h4 {
  font-size: 24px;
  font-weight: bold;
  color: #650300;
  padding-bottom: 8px;
}
@media (max-width: 375px) {
  .card-title h4 {
    padding: 16px 0 8px;
  }
}

.section .row {
  margin: 0 -12px;
}
.section .col-4 {
  width: 33.3333%;
}
@media (max-width: 768px) {
  .section .col-4 {
    width: 100%;
  }
}
.section .col-4 h3 {
  font-style: italic;
  color: #AA0601;
  padding-top: 8px;
}
@media (max-width: 375px) {
  .section .col-4 h3 {
    font-size: 48px;
  }
}

.side-img {
  background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
}
@media (max-width: 375px) {
  .side-img {
    background: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true") center center/cover;
    margin-top: 40px;
  }
}
.side-img h3 {
  color: #FFFFFF;
}
@media (max-width: 375px) {
  .side-img h3 {
    font-size: 24px;
  }
}
.side-img .card {
  width: 50%;
}
@media (max-width: 768px) {
  .side-img .card {
    width: 100%;
  }
}
.side-img .text {
  font-style: italic;
  background-color: #FFFFFF;
  color: #AA0601;
  margin-bottom: 80px;
}
@media (max-width: 375px) {
  .side-img .text {
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .comment {
    margin-bottom: 40px;
    padding-bottom: 0;
  }
}
.comment .row {
  margin: 0 -12px;
}
.comment .col-3 {
  width: 25%;
}
@media (max-width: 768px) {
  .comment .col-3 {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .comment .col-3 {
    width: 100%;
  }
}

.card-body {
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1607843137);
}
@media (max-width: 768px) {
  .card-body {
    margin-bottom: 24px;
    height: auto;
  }
}
.card-body .data {
  color: #000000;
  padding: 16px 16px 16px 16px;
}
.card-body .data p {
  padding: 8px 0 48px;
}
@media (max-width: 768px) {
  .card-body .data p {
    padding-bottom: 72px;
  }
}
.card-body .data span {
  font-size: 14px;
  color: #707070;
}

.service {
  background-color: #FBF2F2;
  padding-bottom: 80px;
}
@media (max-width: 375px) {
  .service {
    padding-bottom: 40px;
  }
}
.service .col-6 {
  max-width: 636px;
  margin: 0 auto;
  color: #000000;
  font-size: 20px;
}
@media (max-width: 768px) {
  .service .col-6 {
    font-size: 16px;
  }
}
.service .col-6 h3 {
  color: #650300;
}

form {
  margin-top: 24px;
  font-size: 16px;
}
form input {
  width: 100%;
  margin: 8px 0 16px;
  padding: 6px 12px 6px;
}
form .checkbox {
  width: 24px;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  form .checkbox {
    margin-bottom: 0px;
  }
}
form textarea {
  resize: none;
  padding: 6px 12px 106px;
  margin-bottom: 16px;
}
form .submit {
  max-width: 416px;
  border: 0;
  color: #FFFFFF;
  background-color: #AA0601;
  padding: 16px 0;
}
form .submit :hover {
  background-color: #650300;
}
@media (max-width: 375px) {
  form .submit {
    margin-top: 24px;
  }
}

.warp {
  color: #000000;
}
.warp a {
  color: #000000;
}
.warp h4 {
  font-size: 32px;
  text-align: center;
}

section .bc-img {
  width: 50%;
}

@media (max-width: 375px) {
  .products {
    margin-bottom: 64px;
  }
}
.products .row {
  margin: 0 -12px;
}
.products h3 {
  font-size: 42px;
}
@media (max-width: 375px) {
  .products h3 {
    padding-top: 40px;
    font-size: 24px;
  }
}
.products h4 {
  padding-bottom: 32px;
}
@media (max-width: 375px) {
  .products h4 {
    padding-bottom: 24px;
    font-size: 24px;
  }
}

.card-box {
  font-size: 24px;
}
.card-box .card {
  width: 25%;
  padding: 0px 12px 80px;
}
@media (max-width: 768px) {
  .card-box .card {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .card-box .card {
    width: 100%;
    padding: 0px 12px 24px;
  }
}
.card-box span {
  color: #AA0601;
  font-weight: bold;
}

.brown-color {
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  border-radius: 4px;
  margin-right: 8px;
}

.orange-color {
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px;
}

@media (max-width: 375px) {
  .sunglasses {
    margin-bottom: 64px;
  }
}
.sunglasses .row {
  margin: 0 -12px;
}
.sunglasses h3 {
  font-size: 42px;
}
@media (max-width: 375px) {
  .sunglasses h3 {
    padding-top: 40px;
    font-size: 24px;
  }
}
.sunglasses h4 {
  padding-bottom: 32px;
}
@media (max-width: 375px) {
  .sunglasses h4 {
    padding-bottom: 24px;
    font-size: 24px;
  }
}

.sunglasses-box {
  font-size: 24px;
}
.sunglasses-box .sunglasses-body {
  width: 33.3333%;
  padding: 0px 12px 80px;
}
@media (max-width: 768px) {
  .sunglasses-box .sunglasses-body {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .sunglasses-box .sunglasses-body {
    width: 100%;
    padding: 0px 12px 24px;
  }
}
.sunglasses-box span {
  color: #AA0601;
  font-weight: bold;
}/*# sourceMappingURL=all.css.map */