
.warp{
  color: #000000;
  a{
    color: #000000;
  }
  h4{
    font-size: $font-ml;
    text-align: center;
  }
}

section{
  .bc-img{
    width: 50%;
  }
}

.products{
  @include mobile{
    margin-bottom: 64px;
  }
  h3{
    font-size: $font-lx;
    @include mobile{
      padding-top: 40px;
      font-size: $font-m;
    }
  }
  h4{
    padding-bottom: 32px;
    @include mobile{
      padding-bottom: 24px;
      font-size: $font-m;
    }
  }
}

.card-box{
  font-size: 3.3vmin;
  .card{
    flex-flow: row wrap;
    width: 25%;
    padding: 0px 12px 80px;
    @include pcInterval{
      font-size: 2vmin;
    }
    @include ipad{
      width: 50%;
      font-size: 3.3vmin;
    }
    @include mobile{
      width: 100%;
      padding: 0px 12px 24px;
    }
  }
  span{
    color: $text-danger-50;
    font-weight: bold;
  }
}

.brown-color{
  width: 24px;
  height: 24px;
  background-color: #5F3E2D;
  border-radius: 4px;
  margin-right: 8px;
}

.orange-color{
  width: 24px;
  height: 24px;
  background-color: #B75929;
  border-radius: 4px;
}
